// Colors
$black: #2d2828;
$lightGrey: rgba(0, 0, 0, 0.1);
$darkGrey: rgba(0, 0, 0, 0.8);
$primaryColor: #0027ec;

// Transitions
$transMed: 0.3s;

// Typography
$sansSerif: "Lato", sans-serif;
$serif: "Playfair Display", serif;
$mono: "IBM Plex Mono", monospace;
$heavyWeight: 900;
$regular: 400;
$medium: 500;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $serif;
}

h1,
h2,
h3 {
  font-weight: $regular;
}
