@import './variables';

.footer {
    padding: 1rem 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    @media(min-width: 768px) {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
}

.nav-cont {

    padding: 0;
    margin: 0 0 1rem 0;

    @media(min-width: 768px) {
        margin-bottom: 0;
    }
    
    li {
        display: inline;
        font-weight: $heavyWeight; 
        padding-right: 0.5rem;

        &::after {
            content: "/";
            display: inline-block;
            padding-left: 0.5rem;
        }

        &:last-child {

            &::after {
                display: none;
            } 
            
        }
    }
}

.socials {
    margin: 0;
    padding-left: 0;
        li {
            font-size: 2rem;
            list-style: none;
            display: inline;
            
            a {
                color: $black;
                -webkit-transition: $transMed;
                transition: $transMed;
            }

            &:hover {
                a {
                    color: $primaryColor;
                }
            }
        }
}