@import "./variables", "./content";

:root {
  --heavyWeight: 900;
  --transMed: 0.3s;
  --black: #111;
  --primaryColor: #939393;
  --serif: "Playfair Display", serif;
  --h3: 1.5rem;
}

body {
  font-family: $sansSerif;
  color: $black;
  font-size: 1rem;
  margin: 0;
}

.main-body {
  padding: 4rem 2rem 1rem 2rem;
  max-width: 450px;
  margin: {
    left: auto;
    right: auto;
  }

  @media (min-width: 768px) {
    padding: 6rem 2rem 1rem 2rem;
    max-width: 600px;
  }

  @media (min-width: 1200px) {
    max-width: 1000px;
  }
}

.nav-link {
  font-weight: $heavyWeight;
  list-style: none;
  display: inline;

  a {
    display: inline-block;
    text-decoration: none;
    position: relative;
    -webkit-transition: $transMed;
    transition: $transMed;
    color: $black;
    line-height: 1.75rem;

    &:hover {
      color: #939393;

      &::after {
        width: 0;
        left: 100%;
      }
    }
  }
}

.btn {
  color: $black;
  text-decoration: none;
  border: none;
  background: none;
  font-family: $serif;
  padding: 0;
  font-size: 1rem;
  display: inline-block;
  line-height: 30px;
  position: relative;

  &-link {
    text-decoration: none;
  }

  &:hover {
    cursor: pointer;
  }
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}
.sr-only-focusable:focus,
.sr-only-focusable:active {
  clip: auto !important;
  -webkit-clip-path: none !important;
  clip-path: none !important;
  height: auto !important;
  margin: auto !important;
  overflow: visible !important;
  width: auto !important;
  white-space: normal !important;
}
